
<div id="list">
    <% if(locals.itemList) { %>

        <% for (var i = 0; i < itemList.length; i++) { %>
            <% if (i == 0) { %>
                <form class="list-item" id="list-item-top" action="/delete" method="post">
                    <input class="list-elem" type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=itemList[i]._id%>">
                    <p class="list-elem"> <%= itemList[i].name %> </p>
                    <input type="hidden" name="pageName" value="<%=page%>"></input>
                </form>
            <% } else { %>
                <form class="list-item" action="/delete" method="post">
                    <input class="list-elem" type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=itemList[i]._id%>">
                    <p class="list-elem"> <%= itemList[i].name %> </p>
                    <input type="hidden" name="pageName" value="<%=page%>"></input>
                </form>
            <% } %>
        <% } %>

        <div id="list-item-bottom" class="list-item">
            <form id="submission-item" action=<%=page%> method="POST">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit">+</button>
            </form>
        </div>

    <% } else { %>

        <div id="list-item-single" class="list-item">
            <form id="submission-item" action=<%=page%> method="POST">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button id="submit" type="submit">+</button>
            </form>
        </div>

    <% } %>
</div>